.home-container{
  height:100vh;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  font-family:'Gilroy', sans-serif;
}

.main-title{
  font-size:64px;
  font-weight:800;
  margin-bottom:10px;
}

.subtitle{
  font-size:28px;
  margin-bottom:10px;
}

.highlight-text{
  font-size:26px;
  color:#00E5FF;
  margin-bottom:30px;
}

.hand-image{
  width:240px;
  margin:20px 0;
}

.note-text{
  font-size:18px;
  opacity:0.8;
}

.start-button{
  margin-top:30px;
  padding:15px 35px;
  font-size:22px;
  background:#00E5FF;
  border:none;
  border-radius:12px;
  cursor:pointer;
  transition:0.25s;
}

.start-button:hover{
  background:#00bcd4;
}